<div class="container mt-4 " id: "container_home">
<div class="jumbotron text-center text-white">
<div class="container mt-4 mb-4" >

  <h1 class="display-4">Alpha-Blog</h1>
  <%= link_to 'Alpha_Blog', root_path, class:"display-4".
  
</div>
<div class="container mt-4 mb-4" >
  <p class="lead">Welcome to the Home Page!</p>
  <hr class="my-4">
  <p>Login if you already have an account or simply sign up!</p>
  <p class="lead">
  </div>
    <a class="btn btn-primary btn-lg" href="#" role="button">Log In</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
  </p>

</div>
</div>
