<footer id="sticky-footer" class="py-4 bg-dark text-white fixed-bottom mb-4">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Git hub", "https://github.com/Siddhikale09", class: "text-white" %></small>
  </div>
</footer>